<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Skills</h4>
            <p class="category">Excellence is not a skill, it's an attitude.</p>
            <p> Ralph Marston</p>
          </div>
          <div class="card-content">
            <div id="typography">
              <!-- <div class="title">
                <h2>Hobbies</h2>
              </div> -->
              <div class="row">
                <div class="tim-typo">
                  <h4><span class="tim-note">Java JavaEE Technologies</span>Java, JavaEE, Spring framework, Web services, SOAP, REST, AWS, Apache Tomcat, JBoss</h4>
                </div>
              </div>
              <div class="row">
                <div class="tim-typo">
                  <h4><span class="tim-note">Web technologies</span>Servlet, JSP, Angular, VueJs, HTML, CSS, Bootstrap, JavaScript, JQuery, AJAX, Thymeleaf, Apache Tiles</h4>
                </div>
              </div>
              <div class="row">
                <div class="tim-typo">
                  <h4><span class="tim-note">Database technologies</span>MySQL, Oracle 11g, Hibernate, JPA </h4>
                </div>
              </div>
              <div class="row">
                <div class="tim-typo">
                  <h4><span class="tim-note">Operating Systems</span>Linux, Windows, MacOS</h4>
                </div>
              </div>
              <div class="row">
                <div class="tim-typo">
                  <h4><span class="tim-note">Tools/IDEs</span>IntelliJ Idea, Eclipse, NetBeans </h4>
                </div>
              </div>
              <div class="row">
                <div class="tim-typo">
                  <h4><span class="tim-note">Others</span>Maven, Gradle, Git, PayPal, Twilio, BitBucket, SourceTree, Jira, Sonar Qube </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
