<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Experience</h4>
            <p class="category">The only source of knowledge is experience.</p>
            <p> Albert Einstein</p>
          </div>
          <div class="card-content">
            <div id="typography">
              <div class="row">
                <div class="tim-typo">
                  <h4><span class="tim-note">March 2017 - Present</span>Java Developer - Advanced Electronics Company Riyadh, Saudi Arabia</h4>
                </div>
              </div>
              <div class="row">
                <div class="tim-typo">
                  <h4><span class="tim-note">June 2015 - January 2017</span>Software Engineer - Appster Gurgaon, India</h4>
                </div>
              </div>
              <div class="row">
                <div class="tim-typo">
                  <h4><span class="tim-note">September 2012 - April 2015</span>Software Developer - Logicum Technology Solutions Hyderabad, India </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
