<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Curriculum vitae</h4>
            <p class="category">Professional Software Engineer</p>
          </div>
          <div class="card-content">
            Abdullah is a Software Engineer with over 5 years of experience in Java/JavaEE technologies.
            <hr> He has hands on experience of more than 5 years in Spring framework, Webservices, REST, SOAP, Apache Tomcat, JBoss.
            <hr> He is well versed in database technologies like MySql, Oracle 11g, JPA and Hibernate.
            <hr> He has also worked on various web technologies like Angular, Vuejs, VueX, Javascript, JQuery, HTML and CSS.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">
                        <img class="img" src="../assets/img/faces/abdullah.jpg" />
                    </a>
          </div>

          <div class="content">
            <h6 class="category text-gray">Java / JavaEE Developer</h6>
            <h4 class="card-title">Abdullah Khan</h4>
            <p class="card-content">
              Java | JavaEE | Spring Boot | Spring Security | JPA | Hibernate | VueJs | VueX | Javascript developer at AEC Riyadh
            </p>
            <p class="card-content">
              <a href="https://stackoverflow.com/users/3094731/abdullah-khan">
  <img src="https://stackoverflow.com/users/flair/3094731.png?theme=dark" width="208" height="58" alt="profile for Abdullah Khan at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Abdullah Khan at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
  </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
